#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: hero;
  src: url(/preEntrega1Munguia/src/fonts/hiJack.ttf);
}

nav{
  background-color: #004280;
  position:absolute;
  top: 0%;
  width: 100%;
}

.topPage{
  display: flex;
  width: 100%;

}

.invertir{
  filter: invert(1);
}

.brand{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.cart{
  height: 5vh;
}

.carrito{
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
